<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FlapAgain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5F67ABC1C24C5AC006B3BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5F67AD41C24C5AD006B3BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5F67ADF1C24C5AD006B3BEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
